/**styles for main page */

html, body{
    margin: 0;
    height:100%;  /*! This made my divs be able to scale the whole page*/
    background:#282a36;
   
   
}
span{
    text-transform:uppercase;
    font-size: 13px;
}
button{
    border-radius: 2px;
}

/* *============================================== */

#main-nav{
    width: 160px;
    height: 100%;
    background:#44475a;
    padding-top: 20px;
    padding-left: 10px; 
}

.aligment{
    width:19px;
    text-align: center;
    padding: 3px;
    margin: 0 auto;
    line-height: .6;
}

.logo{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
}


/* *style for initab logo */
.image:hover{
    opacity:0;
}

.newlook:hover{
    background-image:url("yellowLogo.png");
    width:115px;
    height:50px;
}



/* *Styles for the social meadia icons on the bottom of the page */

.social-icon{
    margin-top:10px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
   
}

#container-one{
    background-color:#113977;
    width:22px;
    height:22px;
    border-radius: 50%;
}

#container-two{
    background-color:#3f629b;
    width:22px;
    height:22px;
    border-radius: 50%;
}

#container-three{
    background-color:#5d97f4;
    width:22px;
    height:22px;
    border-radius: 50%;
}

#container-four{
    background-color:#1a57ba;
    width:22px;
    height:22px;
    border-radius: 50%;
}

#container-five{
    background-color:rgb(130, 130, 199);
    width:22px;
    height:22px;
    border-radius: 50%;
}

.fa-facebook-f{
    color:white;
    margin-left:6px;
    margin-top:5px;
} 

.fa-linkedin-in{
    color:white;
    margin-left:6px;
    margin-top:5px;

}

.fa-twitter{
    color:white;
    margin-left:5px;
    margin-top:5px;

}

.fa-reddit-alien{
    color:white;
    margin-left:4px;
    margin-top:3px;

}

.fa-github-alt{
    color:white;
    margin-left:5px;
    margin-top:5px;
}


/** styles for the main nav area on the side*/


#setting-button{
    background-color:#66d9ef;
    border: none;
}

#gists-button{
    background-color: #50e74b;
    border: none;

}

#stack-button{
    background-color: #e9934d;
    border:none;

}

#trend-button{
    background-color: #f1579f;
    border: none;

}

#scratch-button{
    background-color: #9471d4;
    border:none;

}
#playground-button{
    background-color:#fff;
    border: none;

}

#help-button{
    background-color: #eccd6e;
    border:none;

}

/* *Style for sections that hold main content */

#sections{
    position:fixed;
    left:170px; 
    top:0;
    height:100vh;
    width:100vw;
    /* border:5px solid red; */
}

.section-one{
    width:255px;
    overflow-y: scroll;
    height:600px;
    padding-top:35px;
    padding-left: 35px;
    /* border:5px solid red; */
}

.section-two{
    position: absolute;
    width:555px;
    border-bottom:1px solid yellowgreen;
    top:0;
    left:300px;
    padding-top:35px;
    padding-left: 35px;
    text-align: center;
    height: 30vh;
}

.section-three{
    position: absolute;
    width:260px;
    /* border: 5px solid red; */
    top: 0;
    left: 900px;
    padding-top:35px;
    padding-left: 35px;
    text-align: center;
    height: 90vh;
    overflow-y: scroll;
}



.fa-clock{
    color:#8be9fd;
}
.reddit-section .fa-reddit-alien{
    color:#8be9fd;
}
.reddit-text{
    color:#8be9fd;
}
.js-text{
    color:#8be9fd;
}
.git-text{
    color: #8be9fd;
}
.fa-github{
    color: #8be9fd;
}
.section-one::-webkit-scrollbar{ opacity:0;  width:0px}

/** styles for the clock  */

.clock-position{
    position: fixed;
    width:555px;
    /* border:5px solid red; */
    bottom:100px;
    left:469px;
    padding-top:35px;
    padding-left: 35px;
    text-align: center;
}

.jsClock{
    color: #8be9fd;
    font-size: 100px;
}

.jsDate  {
    font-size: 20px;
    color: yellow;
}

.jsYear{
    font-size: 20px;
    color: yellow;
}

.jsDay{
    font-size: 20px;
    color: yellow;
}



/** Styles for relevant javascript area  */
.history-text{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height:100px;
    margin-top:40px; 
}

.fa-js{
    color: cadetblue;
}

.js-history{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.js-history-text{
    color: white;
    padding-bottom: 30px;
    
}
.history-text::-webkit-scrollbar{ opacity:0;  width:0px}

.github-history{
    display: flex;
    flex-direction: column;
}
.github-text{
    color:#6272a4;
    font-size: 12px;
}
.issues-text{
    color:white;
    display: flex;
    justify-content: space-evenly;
    
}

.repo-section{
    display: flex;
    flex-direction: column;
    
}

.section-three::-webkit-scrollbar{ opacity:0;  width:0px}


.repo-part{
    display: flex;
    flex-direction: column;
    border-left: 1px solid yellowgreen;
    font-size: 15px;
    margin-bottom: 25px;
    color: wheat;
}